/* .is-active {
    position: relative;
    z-index: 200;
    width: 100%;
} */

.activeBackgroundMobile {
    background-color: #70e8d6;
}

.activeBackgroundMobile span {
    color: #fafafa;
}

.activeBackgroundMobile svg path{
    stroke: #fafafa;
}
