.navbar-link.is-active, .navbar-link:focus, .navbar-link:focus-within, .navbar-link:hover, a.navbar-item.is-active, a.navbar-item:focus, a.navbar-item:focus-within, a.navbar-item:hover {
    background-color: #70e8d6;
    color: #555
  }

.containerHome {
    padding-right: 60px;
}

.containerAbout {
    padding-top: 70px;
}

.containerPortfolio {
    padding-top: 70px;
}

.containerSkills {
    padding-top: 70px;
}

.containerContact {
    padding-top: 70px;
}

.imageBuild {
    width: 500px;
    height: 350px;
    margin: 30px;
}

@media screen and (max-width:1280px){

    .containerHome {
        padding: 0 15px;
        margin-top: 25px;
    }

    .imageHome {
        width: 80%;
    }

    .imageBuild {
        width: 400px;
        height: 300px;
        margin: 30px;
    }
}